#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d188;
  z-index: 1;
}
.main-screen.main-chat {
  margin-top: 124px;
}