#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d188;
  z-index: 1;
}
#chat-screen .alt-header {
  margin-bottom: 0px;
}
#chat-screen .main-screen {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  padding: 7px 14px;
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-size: 14px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}


.message-row {
  width: 100%;
  display: flex;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.message__author {
  opacity: 0.8;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 13px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message__time {
  opacity: 0.8;
  font-size: 13px;
}