#friends-display-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 108px;
  padding: 15px 0px;
  text-align: center;
  background-color: #fafafa;
}

#friends-display-link i {
  color: var(--gray);
  font-size: 16px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}


@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /* 마우스에 걸리지 않게 빠지는 것. 실제로 엘리멘트 없애려면 자바스크립트 필요 */
  }
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1.5s;
}