.badge {
  background-color: tomato;
  width: 26px;
  height: 26px; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.none {
  background-color: rgba(0,0,0,0);
}